{% extends "_shared.html" %}
{% load static %}

{% block title %}Road{% endblock %}

{% block content %}

    <div class="container mb-5 p-5">
        <div class="arrow-container">
            {% for milestone in milestones %}
                <div 
                    class="arrow 
                        {% if milestone.id == 11 and road.milestone.id == none %}bg-warning
                        {% elif milestone.id > road.milestone.id %}bg-success
                        {% elif milestone.id == road.milestone.id %}bg-success
                        {% elif milestone.id == road.milestone.id|add:'-1' %}bg-warning
                        {% endif %}"
                >
                    {{ milestone.name }}
                </div>
            {% endfor %}
        </div>
    </div>

    <div class="container mt-5 p-3">
        <div class="row d-flex align-items-stretch">
          <!-- Left Column: Road Details -->
          <div class="col-sm-6 mb-3 mb-sm-0">
            <div class="card h-100">
              <div class="card-body">
                <h2 class="card-title mb-5 text-primary">{{ road.name }}</h2>
                <p><strong>Road Type:</strong> <span class="badge bg-primary">{{ road.road_type.name }}</span></p>
                <p>
                  <strong>Source &rarr; Destination:</strong> 
                  <span class="badge bg-warning">{{ road.source }}</span>
                  <i class="fas fa-arrow-right"></i>
                  <span class="badge bg-success">{{ road.destination }}</span>
                </p>
                <p><strong>Milestone:</strong> <span class="badge bg-success">{{ road.milestone.name }}</span></p>
                <p><strong>Contractor:</strong> 
                  <span class="badge bg-info">{{ road.contractor.first_name }} {{ road.contractor.last_name }}</span>
                </p>
                <p><strong>Engineer:</strong> 
                  <span class="badge bg-info">{{ road.engineer.first_name }} {{ road.engineer.last_name }}</span>
                </p>
              </div>
            </div>
          </div>
      
          <!-- Right Column: Interactive Options -->
          <div class="col-sm-6">
            <div class="card h-100">
              <div class="card-body">
                <!-- Download Button -->
                <div class="d-grid gap-2 mb-3">
                  <input type="hidden" id="road_id" value="{{ road.id }}">
                  <a href="#" id="downloadProofsButton" class="btn btn-outline-primary">Download Proofs</a>
                              
                </div>
                <!-- File Upload -->
                <div class="mb-3">
                    <form class="form-control" id="remarkOrApprove" method="post">
                        {% csrf_token %}
                        <!-- Remarks -->
                        <div class="form-floating mb-3">
                            <textarea class="form-control" placeholder="" id="remarksTextarea" name="remarks" style="height: 100px" aria-label="Remarks (if any)">
                              {{ road.remarks }}</textarea>
                            <label for="remarksTextarea">Message For Contractor (if any)</label>
                            <input type="hidden" id="road_id" name="road_id" value="{{ road.id }}">
                        </div>
                    
                        <!-- Radio Buttons for Action -->
                        <div class="mb-3">
                            <label for="formFile" class="form-label">Choose Action: </label>
                            <div class="form-check form-switch form-check-inline">
                                <input class="form-check-input" role="switch" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="message" onchange="toggleButtons()">
                                <label class="form-check-label" for="inlineRadio1">Message</label>
                            </div>
                            <div class="form-check form-switch form-check-inline">
                                <input class="form-check-input" role="switch" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="approval" onchange="toggleButtons()">
                                <label class="form-check-label" for="inlineRadio2">Approval</label>
                            </div>
                        </div>
                    
                        <!-- Buttons -->
                        <button type="submit" class="btn btn-primary" id="sendButton" disabled>Send</button>
                        <button type="submit" class="btn btn-success" id="approveButton" disabled>Approve</button>
                    </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      
    

{% endblock %}

{% block extra_js %}
    <script src="{% static 'engineer.js'%}"></script>
{% endblock %}
