{% extends "_shared.html" %}

{% block title %}Home{% endblock %}

{% block content %}

    <div class="text-center">
        <h2>Welcome{% if name %}, {{ name }}{% endif %}!</h2>
        <p>This is your home content!</p>
    </div>

    <h2>Roads List</h2>

    {% if user_roads %}
        <p>Showing roads for role: <strong>{{ role }}</strong><strong>( {{name}} )</strong></p>
        <div class="table-responsive">
            <table class="table table-success table-hover">
                <thead>
                    <tr>
                        <th scope="col">Sr. No.</th>
                        <th scope="col">Road Name</th>
                        <th scope="col">Source</th>
                        <th scope="col">Destination</th>
                        <th scope="col">Road Type</th>
                        <th scope="col">Milestone</th>
                        <th scope="col">Contractor</th>
                        <th scope="col">Engineer</th>
                    </tr>
                </thead>
                <tbody>
                    {% for road in user_roads %}
                    <tr 
                        {% if role == 'Contractor' %}
                        onclick="window.location.href=`{% url 'contractor' road.id %}`"
                        {% elif role == 'Engineer' %}
                        onclick="window.location.href=`{% url 'engineer' road.id %}`"
                        {% elif role == 'Administrator' %}
                        onclick="window.location.href=`{% url 'administrator' road.id %}`"
                        {% endif %}
                        style="cursor: pointer;">
                        <td>{{ forloop.counter }}</td>
                        <td>{{ road.name }}</td>
                        <td>{{ road.source }}</td>
                        <td>{{ road.destination }}</td>
                        <td>{{ road.road_type.name }}</td>
                        <td>{{ road.milestone.name }}</td>
                        <td>{{ road.contractor.first_name }} {{ road.contractor.last_name }}</td>
                        <td>{{ road.engineer.first_name }} {{ road.engineer.last_name }}</td>
                    </tr>
                    {% endfor %}

                </tbody>
            </table>
        </div>
        
    {% else %}
        <p>No roads available for your role{% if role %}: <strong>{{ role }}</strong>{% endif %}.</p>
    {% endif %}
{% endblock %}
